body {
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
