body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #00c6ff;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
